body {
    margin: 0 auto;
    background-color: #404040;
    width: 100%;
    background-image: url(../img/bg2.png);
    background-repeat: round;
    background-attachment: fixed;
    letter-spacing: 2px;
}

h1 {
    color: aliceblue;

}


h3 {
    width: 66.5%;
    color: aliceblue;
    border-radius: 2em 4em;
    padding: 0.4% 3%;
    color: #FFFFFF;
    text-align: center;
    background-image: -webkit-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
}

h4 {
    width: 40%;
    text-shadow: 0px 0px 5px lightblue;
    word-spacing: 0.1em;
    text-align: center;
    margin-left: 2px;

}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}


a:hover {
    background-color: #5B5B5B;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    position: fixed;
    border-radius: 10px;
    opacity: 0.95;
}

li {
    list-style: none;
    width: 88%;
    padding: 6%;
    font-size: 1em;
    margin-bottom: 2em;
    color: #FFFFFF;
    text-align: center;
    background-image: -webkit-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(157, 202, 230, .6) 0%, rgba(0, 31, 36, 1.00) 100%);
}

header {
    width: 30%;
    font-size: 1em;
}

main {
    width: 65%;
    float: right;
}

article {
    width: 70%;
    float: left;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;
    padding: 9px;
    background-image: -webkit-linear-gradient(270deg, rgba(200, 40, 0, 0.1) 0%, rgba(0, 0, 0, 1.00) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(0, 80, 100, 0.1) 0%, rgba(0, 0, 0, 1.00) 100%);
    background-image: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1.00) 100%);
}

img {
    width: 250px;
    height: 250px;
    margin: 0% 2% 2% 0%;
    float: left;
    clear: right;

}
