* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #fff;

}

header {
    width: 100%;
    height: 550px;
   background-image: url(../img/headerframe.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #161616;
}
nav{
	background-color: #161616;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a {
    padding: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 1.3em;
    text-decoration: none;
    display: block;

}

nav ul li a:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}

main {
    width: 90%;
    margin: 0 5% 0 5%;
}

h2{
    margin-bottom: 5%;
}
#about{
    width: 100%;
    height: 500px;
    margin-top: 5%;
        margin-left: 3%;
    
}
.aboutMe{
	font-size: 1.4em;
	width: 33%;
	float: right;
	margin-top: 2%;
	margin-bottom: 0;
	margin-right: 23%;
}

#work{
    margin-top: 15%;
    margin-left: 3%;
    width: 90%
        
}
.gallaryMain{
    width: 225px;
    height: 225px;
    margin: 3% 2% 2% 0;
}

#contact{
    width: 60%;
        margin-left: 3%;
   
}

#contact ul li {
    width: 40%;
    font-size: 1.5em;
    list-style-type: none;
    margin-left: 10%;
    margin-top: 5%;
    
}

/* social medida */

#social{
    width: 60%;
    margin-top: 5%;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 7% 8%;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.1;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}


/*****************  Works page ***********/

#works{
    width: 90%;
    
}


#works h2{
    margin-top: 10%;
    
}
.works{
    margin-top: 4%;
    font-size: 1.3em;
    width: 49%;
    margin-bottom: 10%;
}
#screentosmall{
		display: none;
	}

/*****************  Media Querys  ***********/



@media (max-width:1200px) and (min-width:950px){
	
	header{
		display: none;
	}
	#nadiaabout{
		width: 350px;
		height: 400px;
	}
	.aboutMe{
		font-size: 1.1em;
		margin-right: 25%;
	}
	#social{
    width: 80%;
    margin-top: 5%;

}
	#screentosmall{
		display: none;
	}
}


@media (max-width:949px) and (min-width:516px){
	header{
		display: none;
	}
	nav ul li {
    display: inline-block;
    text-align: center;
	width: 100%;
}
	nav ul li a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 1.3em;
    text-decoration: none;
    display: block;

}
	
	#nadiaabout{
		width: 70%;
		height: 90%;
		margin-left: 11%;
		clear: none;
	}
	.aboutMe{
		font-size: 1.1em;
		width: 70%;
		float: none;
		margin: 8% 0 0 11%;
		clear: none;
		
	}
	
	h2{
		text-align: center;
		margin-right: 5%;
	}
	#work{
		width: 100%;
		margin: 90% 14% 0 14%;
		clear: none;
		float: none;
		
		
	}
	#work h2{
		width: 40%;
			text-align: center;
		margin-right: 29%;
	}
	#contact{
    width: 90%;
        margin-left: 14%;
   
}

#contact ul li {
    width: 58%;
    font-size: 1.2em;
    list-style-type: none;
	text-align: center;

    
}
	#contact h2{
		width: 40%;
		margin-top: 5%;
		margin-left: 18%;
	}
		#social{
    width: 80%;
    margin-top: 5%;

}
	#screentosmall{
		display: none;
	}
	.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 7% 6%;
  border-radius: 50%;
}
}

@media (max-width:516px){
	header{
		display: none;
	
	}
	nav{
		display: none;
	}
	main{
		display: none;
	}
	#screentosmall{
		display: block;
	
	}
	#screentosmall p {
		font-size: 1.6em;
		margin: 10% 15% 0 25%;
	
	}
}
