* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #fff;
    
}

header {
    width: 100%;
    height: 550px;
    background-image:url(/img/headerframe.jpg);
    background-position:right;
    background-repeat: no-repeat;
    background-color: #161616;
}

nav ul li {
  display: inline-block;
      text-align: center;
}

nav ul li a {
  padding: 18px;
  text-transform:uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 1.3em;
  text-decoration: none;
  display: block;
  
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

main{
    width: 90%;
    margin: 0 5% 0 5%;
}

article{
    width: 100%;
    margin-top: 10%
}
article p {
    width: 40%;
    text-align: left;
    margin-left:50%;
    clear: left;
}
.gallaryMain {
    width: 250px;
    height: 250px;

}

.workpic p{
    
}
